
.nav-link-font {
    font-weight: 900;
    font: bold;
    text-decoration: none;
    color: black; 
}

.nav-link-font:active,
.nav-link-font:hover {
    color: #4369AF;
}

.btn-danger i span {
    font-family: 'Montserrat';
    color: white;
    font-weight: 600;
    margin-left: 1rem;
}