
.MuiPaper-root {
  background-color: #fafafa;
}

.pet-detail-avatar {
  min-width: 20rem;
  max-width: 22rem;
}

.pet-detail-avatar img {
    border-radius: 50%;
    height: 230px;
    width: 230px;
    border: 5px solid #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.pet-info-distribution {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.pet-detail-description {
  margin: 4rem 4rem;
  text-align: center;
  font-size: 1.5rem;
}

.pet-detail-name {
  font-weight: 700;
  color: #4369af;
  font-size: 3rem;
}
.title-gallery {
  font-weight: 700;
  color: #4369af;
}


.pet-detail-contact {
  display: flex;
  align-items: center;
  
}

.pet-detail-contact h6 {
  font-size: 1.2em;
  margin-right: 1rem;
}

.pet-info-icon {
  font-size: 1.2em;
}

.pet-pet-img {
  max-width: 10rem;
  min-height: 10rem;
  border-radius: 60%;
}

.btn-primary {
  background-color: #4369af;
  font-weight: 700;
}

.btn-primary:hover {
  background-color: transparent;
  color: #4369af;
}

.pet-status-home {
  background-color: #4ED964;
  padding: 0.5em;
  border-radius: 8%;
  color: white;
  font-family: 'Fredoka one';
}

.pet-status-adopted {
  background-color: #FF3A31;
  padding: 0.5em;
  border-radius: 8%;
  color: white;
  font-family: 'Fredoka one';
}

@media (max-width: 1200px) {
  .pet-info-distribution {
    display: flex;
    flex-direction: column;
  }

  .pet-detail-contact {
  flex-direction: column;   
  }
}

@media (max-width: 467px) {
  .pet-detail-contact {
    flex-direction: column;
    justify-content: start;
  }
}
