.shelter-card {
    width: 100%;
    min-height: 260px;
    max-height: 400px;
    margin-bottom: 5rem;
    box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6);
    background: linear-gradient(0deg, rgba(255,255,255,1) 75%, rgba(67,105,175,1) 75%);
    border-radius: 12px;
    max-width: 600px;
    position: relative;
}

.shelter-img {
    padding: 0.5rem;
    background-color: white;
    margin-bottom: 2rem;
    transform: translateY(50%);
    border-radius: 50%;
    position: relative;
    object-fit: contain;
}

.shelter-name-card {
    margin-top: 1rem;
    font-family: 'Fredoka One', cursive;
    display: flex;
    justify-content: center;
}

.shelter-list-name {
    font-weight: 700;
    color: #4369af;
}

