

.card {
    border: none;
    border-radius: 10px;
    margin-bottom: 2rem;
    align-items: center;
    background-color: #fafafa;
}

.home-status {
    padding: 0.5rem;
    background-color: rgb(72, 180, 29);
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Fredoka one' cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.adopted-status {
    padding: 0.5rem;
    background-color: rgb(196, 45, 45);
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Fredoka one' cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.wishlist {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #eee;
    padding: 10px;
    cursor: pointer
}

.img-container {
    position: relative;
}

.img-container .first {
    position: absolute;
}

.img-container img {
    border-radius: 10px;
    max-width: min-content;
}

.product-detail-container {
    padding: 10px;
    background-color: #fafafa;
}

.pet-age i {
    color: #4369af
}

.pet-age span {
    color: #4369af
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

.product-detail-container h6 {
    font-family: 'Fredoka one' cursive;
    font-weight: 600;
    font-size: 2rem;
}

.pet-info {
    font-size: 1.2rem;
    color: #4369af;
}

.pet-btn {
    background-color: #4369af;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.pet-btn:after {
    content: '>>';
    position: relative;
    opacity: 0;  
    font-size: 1rem;
    right: -20px;
    transition: 0.5s;
  }

.pet-btn:hover {
    color: white;
    transition: ease 0.5s;
    padding-right: 20px;
    padding-left: 8px;

}

.pet-btn:hover:after {
    opacity: 1;
  }

.pet-img {
    width:  20rem;
    height: 14rem;
    background-size: cover;
}

@media (max-width: 760px) {
    .pet-img {
        width: 32rem;
    }
}

@media (max-width: 536px) {
    .pet-img {
        width: 22rem;
    }
}

@media (max-width: 320px) {
    .pet-img {
        width: 19rem;
    }
}

