.form-control:focus {
    box-shadow: none;
    background-color: #fafafa;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
    background-color: #fafafa;
  }